button[popovertarget="shopping-cart"] {
  background-color: transparent;
  color: var(--clr-light);
  border: none;
  padding: .25rem;
  cursor: pointer;
}

.shopping-cart[popover] {
  background-color: rgb(255, 255, 255);
  position: fixed;
  inset: auto;
  right: 0;
  width: 30%;
  height: 70vh;
  margin-top: 10.5vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  translate: 0;
  transition: 250ms;
  transition-behavior: allow-discrete;
  /* max-block-size: 100vb;
  inline-size: 50vi;
  overflow-y: scroll; */
}

.shopping-cart[popover]:popover-open {
  opacity: 1;
  translate: 0;

  @starting-style {
    translate: 100%;
    opacity: 0;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.215);
  }
}

.shopping-cart-list {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}


.cart-item img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  object-fit: cover;
}


.cart-item-details {
  display: flex;
  flex-direction: column;
}


.cart-item-details p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.cart-item-details span {
  font-weight: bold;
  color: #007bff;
}


/* [popover] {
  margin: 0;
  inset: auto;
  
  top: anchor(bottom);
  margin-block-start: 10px;
  right: 0;
  background-color: black;
  border: none;
  opacity: 0;
  translate: 100%;
  transition: 250ms;
  transition-behavior: allow-discrete;
  max-block-size: 100vb;
  inline-size: 50vi;
  overflow-y: scroll;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &:popover-open {
    opacity: 1;
    translate: 0;
    display: flex;
    flex-direction: column;


    @starting-style {
      translate: 100%;
      opacity: 0;
    }

  }

  ul {
    display: flex;
    flex-direction: column;
  }

  .cart-summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-block-start: 2rem;

    .savings {
      font-size: .75rem;
    }

    .total,
    .savings {
      grid-column: 3 / 4;
    }
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 1rem;

    a {
      display: block;
      text-align: center;
      color: white;
      padding: .25rem .5rem;
      border-radius: 1rem;
      background-color: blue;
      text-decoration: none;
      width: 50%;
    }
  }
}

.cart-product {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .description-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .number-input-container {
      display: flex;
      align-items: center;
      gap: .25rem;

      button {
        aspect-ratio: 1;
        inline-size: 20px;
        border: none;
      }
    }
  }

  .price-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .order-2 {
      grid-column: 2 / -1;
    }

    .price {
      font-weight: bold;
    }

    .discount-price {
      color: green;
    }

    .original-price {
      color: red;
      text-decoration: line-through;
    }
  }

} */