button[popovertarget="shopping-cart"] {
  background-color: transparent;
  color: var(--clr-light);
  padding: .25rem;
  cursor: pointer;
  position: relative;

  .cart-notification {
    position: absolute;
    display: grid;
    place-content: center;
    top: -5px;
    right: 0;
    width: 20px;
    border-radius: 100vw;
    aspect-ratio: 1;
    background-color: var(--clr-primary-300);
    font-weight: bold;
    transition: width 200ms ease-in-out;

    &.just-added-animation {
      width: 30px;
    }

  }
}

.shopping-cart[popover] {
  background-color: rgb(255, 255, 255);
  position: fixed;
  inset: auto;
  right: 0;
  width: 50vw;
  height: 80vh;
  margin-top: 10.5vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  /* padding: 1rem; */
  border-radius: var(--radius);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  translate: 100%;
  /*transition: all 250ms ease-in-out;*/
  transition-behavior: allow-discrete;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.815);
  }

}

.shopping-cart[popover]:popover-open {
  opacity: 1;
  translate: 0;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-between; */
  overscroll-behavior: contain;

  @starting-style {
    translate: 100%;
    opacity: 0;
  }


}

.shopping-cart-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80%;
}

/* Med :has kan man style ett element beroende på hur många barn det har */
.shopping-cart-list:has(:nth-child(2)) {
  justify-content: unset;
  align-items: unset;
}

.cart-item {
  display: flex;
  align-items: center;
  /* margin-bottom: 15px; */
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}


.cart-item img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  object-fit: cover;
}


.cart-item-details {
  display: flex;
  flex-direction: column;
}


.cart-item-details p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.cart-item-details span {
  font-weight: bold;
  color: #007bff;
}

.shopping-cart-footer {
  background-color: var(--clr-primary-500);
  color: var(--clr-light);
  padding: 1.5rem;
  position: sticky;
  bottom: 0;

  .shopping-cart-total {
    font-weight: bold;
    font-size: var(--fs-1);
    text-align: right;
    padding-block: 1rem;
  }

  button {
    width: 100%;
    padding: 1rem;
    background-color: var(--clr-primary-300);
    color: var(--clr-light);
  }
}

.free-shipping-progress-container {

  .outer {
    background-color: red;
    height: 10px;

  }

  .inner {
    background-color: #007bff;
    height: 10px;
    width: 50%;
  }
}



@media (max-width: 768px) {
  .shopping-cart[popover] {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    border-radius: 0;
    /* translate: 100%; */
    /* opacity: 0; */

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.815);
      ;
    }
  }



  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item img {
    width: 15%;
    height: auto;
    margin: 0 0 1rem 0;
  }

  .cart-item-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
  }
}



.close-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: var(--clr-dark);

  font-size: 1.5rem;
  cursor: pointer;
  z-index: 9999;
  transition: color 0.2s ease-in-out, transform 0.3s ease-in-out;
}

.close-cart:hover {
  color: var(--clr-primary-300);
  transform: scale(1.3);
}