button[popovertarget="shopping-cart"] {
  background-color: transparent;
  color: var(--clr-light);
  border: none;
  padding: .25rem;
  cursor: pointer;
}

.shopping-cart[popover] {
  background-color: rgb(255, 255, 255);
  position: fixed;
  inset: auto;
  right: 0;
  width: 50vw;
  height: 80vh;
  margin-top: 10.5vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  /* padding: 1rem; */
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  translate: 0;
  transition: 250ms;
  transition-behavior: allow-discrete;

  /* max-block-size: 100vb;
  inline-size: 50vi;
  overflow-y: scroll; */

}

.shopping-cart[popover]:popover-open {
  opacity: 1;
  translate: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overscroll-behavior: contain;

  @starting-style {
    translate: 100%;
    opacity: 0;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.815);
  }
}

.shopping-cart-list {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  /* margin-bottom: 15px; */
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}


.cart-item img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  object-fit: cover;
}


.cart-item-details {
  display: flex;
  flex-direction: column;
}


.cart-item-details p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.cart-item-details span {
  font-weight: bold;
  color: #007bff;
}

.shopping-cart-footer {
  background-color: var(--clr-primary-300);
  padding: 1rem;

  button {
    width: 100%;
    padding: 1rem;
  }
}