button[popovertarget="favorites"] {
  background-color: transparent;
  color: var(--clr-light);
  border: none;
  padding: 0.25rem;
  cursor: pointer;
}

.favorites[popover] {
  background-color: red;
  inset: auto;
  right: 0;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.favorites[popover]:popover-open {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 25%;
  min-height: 100vh;
  margin-top: 10vh;
}

.fav-book {
  background-color: white;
  display: flex;
  gap: 1rem;
  margin-top: 5px;

  img {
    width: 50px;
    aspect-ratio: 1;
  }
}
