@font-face {
  font-family: 'CMGeom';
  src: url('/src/assets/fonts/CMGeom-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NyghtSerif';
  src: url('/src/assets/fonts/NyghtSerif-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Magiel';
  src: url('/src/assets/fonts/Magiel-Black.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}