* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug {
  outline: 2px solid lime;
  background: hsl(0 100% 50% / 0.1);
}

.wrapper {
  width: min(1268px, 100% - 1rem);
  margin-inline: auto;
  margin-block: 10rem;
  min-height: 100vh;
}

body {
  min-block-size: 100vb;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-color);
  background-color: white;
  color: var(--copy-color);
  /* font-family: 'Bespoke Serif', serif; */
  font-family: 'system-ui';
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  /* text-wrap: balance; */
  overflow-wrap: break-word;

}

p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  transition: opacity .2s;
  border-radius: var(--radius);

  &:hover {
    opacity: .9;
  }
}