.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;


}


.hero-text {
  text-align: center;
  flex: 1;
  /* max-width: 70%; */
  max-width: 65ch;
}


.hero-text h1 {
  font-size: var(--fs-3);
  margin-bottom: 15px;
  letter-spacing: 2px;
  /* font-family: 'Tanker', sans-serif; */
}

.hero-text .typed {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-faded);
  /* font-family: 'Bespoke Serif', serif; */
}

.hero-image {
  max-width: 30%;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column; 
    align-items: center;   
  }

  .hero-image {
    max-width: 65%; 
  }
}
