/* fixa global styles */

.headingC {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.flex-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.render-checkout {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.138);
    border-radius: var(--radius);
}

.cart-headings {
    display: contents;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
}

.cart-container {
    display: contents;
    gap: 10px;
    padding: 20px;
}

.cart-checkout-item {
    display: contents;
    text-align: center;
    padding: 1rem;
}

.cart-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--fs-0);
    text-align: left;
}

.total-price {
    grid-column: span 5;
    grid-row: auto;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px;
    text-align: right;
    justify-self: end;
}

.consumerInfo {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    gap: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.138);
    border-radius: var(--radius);
}

.contact-info {
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: var(--radius);
}

.purchase-button {
    width: 80px;
    padding: 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
}

.purchase-button:hover {
    background-color: #0056b3;
}