h1 {
  font-size: var(--fs-1);
}

.container {
  background-color: var(--clr-primary-500);
  padding: 20px;
  color: var(--clr-light);
  border-bottom: 2px solid #ccc;
  /* Lägg till ett streck under hela navigationen */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Valfritt: en skugga för effekt */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--wrapper-width);
  margin-inline: auto;

  .logo-container {
    display: flex;
    /* font-family: 'system-ui'; */
  }
}

ul {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: var(--fs--1)
}