h1 {
  font-size: 40px;
}

.container {
  background-color: rgba(161, 161, 161, 0.514);
  padding: 20px;
  border-bottom: 2px solid #ccc;
  /* Lägg till ett streck under hela navigationen */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Valfritt: en skugga för effekt */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--wrapper-width);
  margin-inline: auto;
}

ul {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 20px;
}