.product-section {
  /* padding: var(--gap-m); */

  h2 {
    padding-block-end: var(--gap-s);
    font-size: var(--fs-0);
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    /* grid-template-rows: repeat(4, auto); */
    column-gap: var(--gap-m);
    row-gap: 4rem;
    justify-items: center;
  }
}

/* BOK ELEMENT */
article.product {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  background-color: white;
  color: var(--text);
  /* border: 1px solid pink; */
  width: min(300px, 100%);
  row-gap: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.138);
  border-radius: var(--radius);
  padding: 1rem;

  .product-image img {
    /* min-width: 100%; */
    min-height: 100%;
    object-fit: cover;
    /* border-radius: var(--radius); */

  }



  .product-info {
    /* padding-block: .25rem;
    padding-inline: .5rem; */


    .title-container {
      padding-block-start: var(--gap-s);
      display: flex;
      align-items: baseline;
      /* gap: var(--gap-m); */
      justify-content: space-between;

      .product-title {
        font-weight: bold;
        font-size: var(--fs--1);

        /* Cappa långa titlar */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .product-release-date {
        color: var(--text-faded);
        font-style: italic;
        font-size: var(--fs--1);
      }
    }

    .product-author a {
      color: var(--text-faded);
      text-underline-offset: 4px;
      font-size: var(--fs--1);
      font-variant: small-caps;
      text-transform: lowercase;
    }


  }

  .product-price {
    font-weight: bold;
    font-size: var(--fs-0);
    display: flex;
    align-items: center;
    gap: var(--gap-s);

    .strike {
      text-decoration: line-through;
      color: var(--text-faded);
      font-size: var(--fs--1);
    }
  }

  .product-actions {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;

    button {
      display: grid;
      place-content: center;
      border: none;
      color: white;
      padding-block: .5rem;
    }

    .add-to-cart-button {
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
      background-color: var(--primary-color);
    }

    .like-button {
      border-top-right-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
      background-color: var(--secondary-color);
    }
  }
}