.product-section {
  padding: var(--gap-l);
  margin-bottom: 1rem;

  h2 {
    padding-block-end: var(--gap-s);
    font-size: var(--fs--1);
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    /* grid-template-rows: repeat(4, auto); */
    column-gap: var(--gap-m);
    row-gap: 4rem;
    justify-items: center;
  }
}

/* BOK ELEMENT */
article.product {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  background-color: var(--clr-light);
  color: var(--text);
  width: min(300px, 100%);
  row-gap: 0;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.138); */
  /* border-radius: var(--radius); */
  padding: 1rem;

  .product-image {
    width: 100%;

    img {
      min-height: 100%;
      object-fit: cover;
    }
  }

  .product-info {
    .title-container {
      padding-block-start: var(--gap-s);
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .product-title {
        /* text-wrap: balance; */
        font-size: var(--fs-0);

        /* Cappa långa titlar */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .product-author a {
      color: var(--text-faded);
      text-underline-offset: 4px;
      font-size: var(--fs--1);
      font-variant: small-caps;
      text-transform: lowercase;
    }

    .product-release-date {
      color: var(--text-faded);
      font-style: italic;
      font-size: var(--fs--2);
    }
  }

  .product-availability {
    font-weight: bold;
    font-size: var(--fs-0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-s);

    .product-price {
      font-weight: bold;
    }
  }

  .product-actions {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 200px;
    width: 200px;

    button {
      display: grid;
      place-content: center;
      color: var(--clr-golden);
      padding-block: var(--gap-s);

      &:disabled {
        background-color: var(--disabled);
        cursor: not-allowed;
      }
    }

    .add-to-cart-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
      background-color: var(--clr-primary-500);

      & > * {
        margin-left: 20px;
      }
    }

    .add-to-fav-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
      background-color: var(--clr-primary-400);
    }
  }
}

/* Fav button effect */
button.add-to-fav-button {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-primary-300));
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-primary-300));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-primary-300));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-primary-300));
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-primary-300));
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--color-primary-300));
  z-index: -5;
  transition: all 0.8s ease;
}

button.add-to-fav-button {
  background-color: var(--color-secondary-300);
  color: var(--clr-golden);
  box-shadow: 0 0 25px var(--color-primary-300);
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--clr-golden));
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--clr-golden));
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--clr-golden));
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--clr-golden));
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--clr-golden));
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--clr-golden));
  z-index: 2;
}

.fil0 {
  fill: var(--clr-golden);
}

.product-image img {
  min-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

article.product:hover .product-image img {
  transform: scale(1.05);
}
